.tableHeaderCell {
    min-width: 5rem;
    padding: 0;
    border: none;
    margin: 0;
    text-align: left;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.icon {
    color: rgb(8, 103, 131);
}